#invoice, #items, #payment{
    top:90px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 30px;
    color: black;

}


.form-group:last-child {
    margin-bottom: 0;
}

.form-control::placeholder{
    color: #b2b3b4;
}

#orderId,#customer-id, #customer-name, #customer-address, #customer-salary,#order-date,#item-code,#item-name,#unit-price, #qty-on-hand,#qty,#total,#cash,#balance,#no-items {
    width:1fr;
    height: 30px;
    padding: 5px;
    border: 1px solid blue;
    color: black;
}



#customer-salary {
    width: 1fr;
    padding: 9px;
}



#orderId,
#customer-id {
    width: 1fr;
    padding:2px;
    color: black;

}

label {
    display: block;
    padding:4px;
    color:black;
    font-size: 13px;
}

#customer-name {
    width: 1fr;

}

#customer-address {
    height: 50px;
    resize: none;
    padding:9px;
    border: 1px solid blue;
}

#order-date {
    width: 1fr;
    padding:9px;
}



.add-to-cart{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;

}
#place-order{
    width:130px;
    height:45px;
    margin-top:28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;
}

.clear  {
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#cancel{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#search-order-form{
    display: none;
    margin-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #9bb1e7;
    box-shadow: 0 0 10px rgba(206, 201, 201, 0.2);
    z-index: 9999;
    color:black;
}

.search-order-button{

}

#search-order-Btn{
    margin-left: 980px;
    background-color: #70a0ea;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;


}

#clear-search-bar{
    background-color: #ec70a7;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;
}

#entry-order-form{
    border:none;
}
#close{
    display: inline-block;

}